/* body font */
body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
}


/* top banner */
.banner-container{
    background-color: #2d25a0;
}
.banner-section{
    display: flex;
    justify-content: space-around;

}
.banner-img img{
    width: 556px;
    height: 438px;
}
.banner-info h1{
    font-size: 64px;
    color: white;
}
.link-button{
    background-color: #e02c6d;
    padding: 10px 24px;
    border: none;
}
.link-button a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.fa-arrow-right{
    margin-left: 10px;
}

/* players part */

.players-container{
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px; 
}
.player-article{
    margin: 15px;

}
.player {  
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);  
}
.player-banner img{
    width: 300px;
    height: 256px;
}

/* footer part */
footer{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-section{
    width: 484px;
    text-align: center;

}
.footer-section img{
    width: 484px;
    height: 110px; 
}
.icon{
    margin: 7px;
    color: #969bab;
    height: 32px;
    width: 32px;
}