/* body font */
body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
}


/* top banner */
.banner-container{
    background-color: #2d25a0;
}
.banner-section{
    display: flex;
    justify-content: space-around;

}
.banner-img:hover {
    transform: scale(1) rotate(30deg);
    transition: transform 4s ease-in-out;
}
.banner-img img{
    width: 556px;
    height: 438px;
    
}
.banner-info h1{
    font-size: 64px;
    color: white;
}
.link-button{
    background-color: #e02c6d;
    padding: 10px 24px;
    border: none;
}
.link-button a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.fa-arrow-right{
    margin-left: 10px;
}

/* players part */

.players-container{
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px; 
}
.player-article{
    margin: 15px;

}
.player {  
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);  
}
.player-banner img{
    width: 300px;
    height: 256px;
    
}

/* footer part */
footer{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-section{
    width: 484px;
    text-align: center;

}
.footer-section img{
    width: 484px;
    height: 110px; 
}
.icon{
    margin: 7px;
    color: #969bab;
    height: 32px;
    width: 32px;
}

/* media quaries */

/* mobile device */

@media only screen and (max-width:688px) {
    body{
        width: 360px;
        margin-left: 0;
        margin-top: 0;
       
    }
    .banner-section{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .deatils{
        width: 247px;
        height: 138px;
        

    }
    .link{
        width: 168px;
        height: 44px;
        margin-top: 30px;
    }
    .banner-img img{
        width: 329px;
        height: 259.17px;
        margin-top: 50px;
    }

    
    .players-container{
        margin-left: 0;
        margin-right: 0;
    }
   
    .players{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        
    }
    .players{
        width: 360px;
    }
    .footer-section img{
        width: 275px;
        height: 63px;
    }
   
    